<body>
  <mat-toolbar class="toolbar">
             <img src="/assets/icons/bridgeicon.jpg" class="img">
  </mat-toolbar>

  <div class="container" fxLayoutAlign="center center" style="background-color: #f0f0f0;">
    <mat-card fxFlex.lt-sm="90" fxFlex.sm="80" fxFlex="45" style="margin-top: 35px;box-shadow: 0 2px 20px rgba(0,0,0,.19), 0 4px 6px rgba(0,0,0,.23);">
      <div fxFlexOffset="10" fxflex="30">

        <h3>
         <strong>Login</strong>
        </h3>

        <form #loginForm="ngForm" (ngSubmit)="login()">

          <div fxLayout="row" fxFlex.lt-sm="45" fxFlex.sm="40" fxLayoutGap="45px">
            <a class="fb">
              <img src="/assets/icons/ficon.jpeg" class="fbimg" fxFlexOffset="15px" >
              <h5 class="fbtext">Facebook</h5>
            </a>

            <a class="fb">
              <img src="/assets/icons/images.png" class="gimg" fxFlexOffset="20px">
              <h5 class="gtext">Google</h5>
            </a>

          </div>

          <div fxLayout="row" fxLayoutAlign="center center" class="color">
            <span class="msg">All your activity will remain private.</span>
            <br>
          </div>

          <div fxLayout="column" fxLayoutGap="2%">

            <div>
              <label class="txt">Email ID / Username</label>
              <mat-form-field fxFlex.lt-sm="90" fxFlex.sm="80" fxFlex fxFlex.gt-xs="450px">
                <input fxFlexOffset="15px" style="margin-top: -12px;" matInput type="email" name="email" [(ngModel)]="model.email" [formControl]="email"
                  required>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
              </mat-form-field>
            </div>

            <div>
              <label class="txt">Your Password</label>
              <mat-form-field fxFlex.lt-sm="90" fxFlex.sm="80" fxFlex fxFlex.gt-xs="450px">
                <input fxFlexOffset="15px" style="margin-top: -12px;" matInput type="password" name="password" [(ngModel)]="model.password"
                  maxlength="8" [formControl]="password" required>
                <mat-error *ngIf="password.invalid">{{getErrorMessage1()}}</mat-error>
              </mat-form-field>
            </div>
          </div>

          <div>
              <!-- <a>
                  <h5 class= "forgot" (click)="forgot()">Forgot Password?</h5>
              </a> -->
              <a>
                  <h5 class= "forgot" (click)="OpenforgotDialog()">Forgot Password?</h5>
              </a> 
          </div>

          <div>
            <button mat-raised-button color="primary" type="submit" fxFlex.lt-sm="90" fxFlex.sm="80" fxFlex fxFlex.gt-xs="450px">Login</button>
          </div>

          <div>
            <span class="txt">Not a member yet?</span>
            <button mat-button color="primary" (click)="signUp()">Register now
            </button>
          </div>
        </form>
      </div>

    </mat-card>
  </div>
</body>